[Desktop Entry]
Encoding=UTF-8
Name=Link to Russell Midcap® Value Total Market Index | FRED | St. Louis Fed
Type=Link
URL=https://fred.stlouisfed.org/series/RMIDVLTR
Icon=text-html
